@use "../globals" as *;

.seo-intro {
  .seo-intro__title {
    margin-bottom: 0.5rem;
  }

  .seo-intro__lead {
    line-height: 1.6;
    strong {
      font-weight: 600;
    }
  }

  .seo-intro__inner {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .seo-intro__figure {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      max-width: 50%; // se mantiene tu tamaño
      height: auto;
    }
  }
  .seo-intro__content {
    line-height: 1.75;
    margin: 0 auto;
    p {
      margin-bottom: 1rem;
    }
    a {
      text-decoration: none;
    }
  }

  .seo-intro__links {
    li {
      display: block;
    }
    a {
      text-decoration: none;
    }
  }
}
