.woocommerce .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .woocommerce .product {
    background: var(--bs-white);
    border-radius: $border-radius;
    box-shadow: var(--bs-shadow-light);
  }
  