/* Error: @use rules must be written before any other rules.
 *     ,
 * 214 | @use "../globals" as *;
 *     | ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   assets/scss/components/landings/_services.scss 214:1  @forward
 *   assets/scss/components/landings/index.scss 4:1        @forward
 *   assets/scss/components/_index.scss 8:1                @import
 *   assets/scss/main.scss 8:9                             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: @use rules must be written before any other rules.\a     \2577 \a 214 \2502  @use "../globals" as *;\a     \2502  ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   assets/scss/components/landings/_services.scss 214:1  @forward\a   assets/scss/components/landings/index.scss 4:1        @forward\a   assets/scss/components/_index.scss 8:1                @import\a   assets/scss/main.scss 8:9                             root stylesheet';
}
