/* Error: Undefined variable.
 *     ,
 * 191 |                 color: $accent;
 *     |                        ^^^^^^^
 *     '
 *   assets/scss/components/landings/_services.scss 191:24  @forward
 *   assets/scss/components/landings/index.scss 4:1         @forward
 *   assets/scss/components/_index.scss 8:1                 @import
 *   assets/scss/main.scss 8:9                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 191 \2502                  color: $accent;\a     \2502                         ^^^^^^^\a     \2575 \a   assets/scss/components/landings/_services.scss 191:24  @forward\a   assets/scss/components/landings/index.scss 4:1         @forward\a   assets/scss/components/_index.scss 8:1                 @import\a   assets/scss/main.scss 8:9                              root stylesheet";
}
