.free-resources {
    background-color: var(--bs-secondary-opacity-5);
    padding: 80px 0;

    .title {
        margin-bottom: 30px;

        h2 {
            font-size: 3.5rem;
            color: #ffd700;
            text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
            font-family: 'Cinzel', serif;
        }

        p {
            font-size: 1.2rem;
            color: #888;
        }
    }

    .resource-item {
        padding: 30px 20px;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
        }

        h5 {
            @extend .fw-bold;
            @extend .fs-4;
            font-family: 'Cinzel', serif;
            color: #ffd700;
        }

        p {
            @extend .text-muted;
            @extend .lh-sm;
            font-size: 1rem;
        }

        .resource-icon-btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100px !important;
            height: 100px !important;
            background-color: var(--bs-cyan) !important;
            border-radius: 50% !important;
            transition: background-color 0.3s ease, transform 0.3s ease;
            margin: 0 auto 25px;
            box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
        
            i {
                font-size: 3rem !important;
                color: var(--bs-white) !important;
                transition: transform 0.3s ease;
            }
        
            &:hover {
                background-color: var(--bs-secondary) !important;
                transform: scale(1.1);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            }
        }
        
    }

    @media (max-width: 768px) {
        .resource-item {
            padding: 20px;

            .resource-icon-btn {
                width: 80px;
                height: 80px;

                i {
                    font-size: 2rem !important;
                }
            }
        }
    }
}
