// _ev-product-card.scss
@use "../globals" as *;      // tus variables ($breakpoint-*, colores, etc.)

@mixin product-card {
    background-color: map-get($theme-variables, "white");
    border-radius: 12px;
    overflow: hidden;
    box-shadow: map-get($theme-variables, "light");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
  
    a.woocommerce-LoopProduct-link {
      color: map-get($theme-variables, "primary");
      text-decoration: none;
  
      img {
        border-radius: 8px;
        margin-bottom: 1rem;
        width: 100%;
        height: auto;
      }
  
      h2.woocommerce-loop-product__title {
        font-size: 1.1rem;
        min-height: 3rem;
        margin-bottom: 0.5rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
  
      .price {
        font-weight: bold;
        color: map-get($theme-variables, "dark");
        margin-bottom: 1rem;
      }
    }
  
    a.add_to_cart_button,
    .button {
      background-color: map-get($theme-variables, "secondary");
      color: map-get($theme-variables, "white");
      padding: 0.6rem 1.2rem;
      font-weight: bold;
      border-radius: 6px;
      margin: 0 auto;
      width: fit-content;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: map-get($theme-variables, "secondary-opacity-5");
      }
    }

    a.added_to_cart.wc-forward {
        color: map-get($theme-variables, "gold") !important;
        font-weight: bold;
        text-decoration: none;
        margin-left: 0.5rem;
      
        &:hover {
          color: darken(map-get($theme-variables, "gold"), 10%);
          text-decoration: underline;
        }
    }
}
  